.create-new-task {
  max-width: 1440px;
  height: 700px;
  background: #07c7a4;
  display: flex;
  align-items: center;
  .task-to {
    width: 814px;
    height: 354px;
    left: 313px;
    top: 335px;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    .title {
      margin-top: 30px;
      margin-bottom: 75px;
      display: flex;
      justify-content: center;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 34px;
      text-align: center;
      color: #07c7a4;
    }
    .input-form {
      display: flex;
      justify-content: center;
      .enter-task {
        border: 1px solid #07c7a4;
      }
      .create-btn {
        cursor: pointer;
        background: #07c7a4;
        border: none;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        color: #ffffff;
        // border-radius: 7px;
      }
      .cancel {
        cursor: pointer;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        color: #07c7a4;
      }
    }
  }
}
