.button {
  .btn {
    padding: 8px 32px;
  }
  .set-start-color {
    background-color: #03ae85;
    color: white;
  }
  .set-pause-color {
    background: #f9f9f9;
  }
  .set-reset-color {
    background-color: #fd6259;
    color: white;
  }
}
