.flexbox {
  background: #eeecea;
  //   width: 1920px;
  //   height: 1080px;
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px black;
    padding: 33px 109px 37px 90px;
    .logo-text {
      font-family: "Neue Haas Unica W1G";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
    }
  }
  .content {
    padding-top: 144px;
    display: flex;
    .heading {
      background-image: url(/assets/11.png);

      display: flex;
      background-position: center;
      background-repeat: no-repeat;
      height: 470px;
      width: 100%;
      max-width: 100vw;
      h1 {
        font-family: "Neue Haas Unica W1G";
        font-style: normal;
        font-weight: 400;
        font-size: 96px;
        line-height: 100%;
        padding-left: 4.687vw;
        display: flex;
        align-items: center;
      }
    }
  }
  .footer {
    border-top: solid 3px black;
    padding: 120px 360px 139px 360px;
    display: flex;
    justify-content: space-between;
    .sizeofimg {
       display: flex;
      // width: 1200px;
      // padding: 120px 300px 139px 300px;
      // align-items: center;
       justify-content: space-between;
      .text1 {
        font-family: "Neue Haas Unica W1G";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        // padding: 128px 401px 0px 360px;
        //  padding-right: 401px;
        //  padding: 0px 393px 197px 0px;
        //  padding-bottom: 197px;
      }
      .paragraph {
        p {
          font-family: "Neue Haas Unica W1G";
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 120%;
          margin: 0px;
          padding-left: 401px;
          // padding: 120px 360px 139px 0px;
          // margin: 0px;
        }
      }
    }
  }
}
