.responsive-img {
  width: 100%;
  height: auto;

  border-right: solid 3px black;
}
.flexbox {
  background: #e5e5e5;
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px black;
    padding: 33px 109px 37px 90px;
    .logo {
      font-family: "Neue Haas Unica W1G";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
    }
  }
  .con {
    display: flex;
    .left-border-side {
      // border-right: solid 3px black;
      padding-left: 90px;
    }
    .heading {
      border-right: solid 3px;
      display: flex;
      justify-content: center;
      align-items: center;

      display: flex;
      h1 {
        font-family: "Neue Haas Unica W1G";
        font-style: normal;
        font-weight: 400;
        font-size: calc(2vw);
        // font-size: 96px;
        line-height: 100%;
        /* identical to box height, or 96px */

        color: #000000;
        white-space: nowrap;
        transform: rotate(-90deg);

        display: block;
      }
    }
    .leftcon {
      font-family: "Neue Haas Unica W1G";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 180%;
      padding: 496px 204px 236px 350px;
      border-left: solid 3px black;
      
    }
  }
}
