.flexbox-002-new {
  width: 1920px;
  height: 1080px;
  background: #eeecea;
  .header {
    padding: 33px 109px 37px 90px;
    border-bottom: solid 3px black;
    display: flex;
    .text1 {
      font-family: "Neue Haas Unica W1G";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      display: flex;
      flex-grow: 1;
    }
    .text2 {
      font-family: "Neue Haas Unica W1G";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
    }
  }
  .description {
    display: flex;
    // border-bottom: solid 3px black;
    .img1 {
      // border-bottom: solid 3px black;
      display: flex;
      flex-direction: column;
    }
    .leftdescription {
      border-left: solid 3px black;
      .text3 {
        font-family: "Neue Haas Unica W1G";
        font-style: normal;
        font-weight: 400;
        font-size: 96px;
        line-height: 100%;
        padding: 22px 0px 0px 26px;
      }
      .paraghraph1 {
        padding: 368px 90px 56px 138px;
        font-family: "Neue Haas Unica W1G";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
      }
    }
  }
  .footer {
    display: flex;
    border-top: solid 3px black;
    .leftfooter {
      border-right: solid 3px black;
      .paragraph2 {
        font-family: "Neue Haas Unica W1G";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 110%;
        padding: 101px 281px 0px 90px;
      }
      .img2 {
         display: flex;
        padding: 77px 1063px 90px 90px;
      }
    }
    .rightfooter {
      .img3 {
         display: flex;
        padding: 0px 90px 0px 0px;
      }
    }
  }
}
