@font-face {
  font-family: "Neue Haas Unica W1G";
  src: url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.eot");
  src: url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.svg#NeueHaasUnicaW1G-Regular")
      format("svg");
}
